*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild


bin/
gen/
Thumbs.db
*.apk
*.ap_
*.dex
*.class
*.so
obj/
